name: Build Addon Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'addons/**'
      - '.github/workflows/build-addon.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'addons/**'

jobs:
  build:
    name: Build ${{ matrix.addon }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        addon:
          - ventilairsec_enocean
        arch:
          - amd64
          - armv7
          - arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./addons/${{ matrix.addon }}
          file: ./addons/${{ matrix.addon }}/Dockerfile
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          platforms: linux/${{ matrix.arch }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/ventilairsec-enocean-${{ matrix.arch }}:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/ventilairsec-enocean-${{ matrix.arch }}:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/ventilairsec-enocean-${{ matrix.arch }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/ventilairsec-enocean-${{ matrix.arch }}:buildcache,mode=max
